* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 h1, p {
    background-color: #DDE0E3;    /* Light gray */
  }
  
  em, strong {
    background-color: #B2D6FF;
    display: inline;             /* This is the default for em and strong */
  }

  strong {
    padding: 20px;
  }

  h1 {
  padding: 50px;
  /* border: 1px solid #5D6063; */
  border-bottom: 1px solid #5D6063;
}

/* p {
    padding: 20px 10px;   Vertical  Horizontal 
  } */

  p {
    padding: 20px 0 20px 10px;  /* Top  Right  Bottom  Left */
    margin-bottom: 50px;          /* Add this */
    margin-bottom: 50px;
  }

  div {
    color: rgb(255, 255, 255);
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
      /* [Existing Declarations] */
    width: 200px;
    box-sizing: border-box;  /* Add this */
    margin: 20px auto; /* Vertical  Horizontal */
  }

  body {
  text-align: center;
}