h1, p {
    background-color: #DDE0E3;    /* Light gray */
  }
  
  em, strong {
    background-color: #B2D6FF;
    display: inline;             /* This is the default for em and strong */
  }

  h1 {
  padding: 50px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }