h1, p {
    background-color: #DDE0E3;    /* Light gray */
  }
  
  em, strong {
    background-color: #B2D6FF;
    display: inline;             /* This is the default for em and strong */
  }

  h1 {
  padding: 50px;
}

/* p {
    padding: 20px 10px;   Vertical  Horizontal 
  } */

  p {
    padding: 20px 0 20px 10px;  /* Top  Right  Bottom  Left */
  }