body {
  background-color: #2d2b2b;
  color: #EEEEEE;
  font-weight: bold;
  font-style: italic;
}

h1 {
    font-size: 2em;
    color: #00ff5e;
}

h2 {
    font-size: 1.6em;
    color: #00c8ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

ul {
    list-style-type: circle;
}
  
ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
}
